node_modules/
dist
build
lib
packages/slides/*/plugin
yarn.lock
.env*
*.sh
*.txt
*.eot
*.ttf
*.woff
*.png
*.jpg
*.jpeg
*.xml
*.ico
hosting.YnVpbGQ.cache
LICENSE
*.log
dotenv-example
*.svg
.gitignore
*.zip
.gitattributes
.npmignore
.prettierignore
.editorconfig
.vscodeignore
*.d.ts
